<div id="container" style="position:relative;">
<div style="float:left"><h1>Capstone: Electric Vehicles (EVs) </h1></div>
<div style="position:relative; float:right"><img style="height:65px" src ="https://drive.google.com/uc?export=view&id=1EnB0x-fdqMp6I5iMoEBBEuxB_s7AmE2k" />
</div>

### Eloyn Vazquez.



## Content:

#### Introducction.

Part 1 - Basic Analysis


Part 2 - Data Cleaning

Part 3 - EDA


 ## Analysis of Electric Vehicles and Charging Station Proximity in Washington State
  
  
### Introduction


In this project, we aim to explore the distribution and characteristics of electric vehicles (EVs) in Washington State, alongside the availability and accessibility of EV charging stations. Our analysis is grounded in two key datasets: one detailing EV registrations across various Washington locales and another cataloging the locations and types of EV charging stations as of January 31, 2023.

### Part 1 -Basic Analysis

In [1]:
# First I import the pandas , Numpy and the data frame.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# now let import the datasets

In [3]:
population_evs = pd.read_csv("WASHINTON POPULATION EVS.csv")

In [4]:
population_evs.info

<bound method DataFrame.info of         VIN (1-10)        County               City State  Postal Code  \
0       KM8K33AGXL          King            Seattle    WA      98103.0
1       1C4RJYB61N          King            Bothell    WA      98011.0
2       1C4RJYD61P        Yakima             Yakima    WA      98908.0
3       5YJ3E1EA7J          King           Kirkland    WA      98034.0
4       WBY7Z8C5XJ      Thurston            Olympia    WA      98501.0
...            ...           ...                ...   ...          ...
150477  WBY43AW05P  Grays Harbor          Montesano    WA      98563.0
150478  5YJ3E1EB7P          King            Seattle    WA      98104.0
150479  5YJYGDEEXM          King            Seattle    WA      98109.0
150480  5UXTA6C08P     Snohomish  Mountlake Terrace    WA      98043.0
150481  7SAYGDEF8N        Skagit       Mount Vernon    WA      98273.0

        Model Year     Make           Model  \
0             2020  HYUNDAI            KONA
1             2022     JEEP  GRAND CHEROKEE
2             2023     JEEP  GRAND CHEROKEE
3             2018    TESLA         MODEL 3
4             2018      BMW              I3
...            ...      ...             ...
150477        2023      BMW              I4
150478        2023    TESLA         MODEL 3
150479        2021    TESLA         MODEL Y
150480        2023      BMW              X5
150481        2022    TESLA         MODEL Y

                         Electric Vehicle Type  \
0               Battery Electric Vehicle (BEV)
1       Plug-in Hybrid Electric Vehicle (PHEV)
2       Plug-in Hybrid Electric Vehicle (PHEV)
3               Battery Electric Vehicle (BEV)
4       Plug-in Hybrid Electric Vehicle (PHEV)
...                                        ...
150477          Battery Electric Vehicle (BEV)
150478          Battery Electric Vehicle (BEV)
150479          Battery Electric Vehicle (BEV)
150480  Plug-in Hybrid Electric Vehicle (PHEV)
150481          Battery Electric Vehicle (BEV)

        Clean Alternative Fuel Vehicle (CAFV) Eligibility  Electric Range  \
0                 Clean Alternative Fuel Vehicle Eligible             258
1                   Not eligible due to low battery range              25
2                   Not eligible due to low battery range              25
3                 Clean Alternative Fuel Vehicle Eligible             215
4                 Clean Alternative Fuel Vehicle Eligible              97
...                                                   ...             ...
150477  Eligibility unknown as battery range has not b...               0
150478  Eligibility unknown as battery range has not b...               0
150479  Eligibility unknown as battery range has not b...               0
150480            Clean Alternative Fuel Vehicle Eligible              30
150481  Eligibility unknown as battery range has not b...               0

        Base MSRP  Legislative District  DOL Vehicle ID  \
0               0                  43.0       249675142
1               0                   1.0       233928502
2               0                  14.0       229675939
3               0                  45.0       104714466
4               0                  22.0       185498386
...           ...                   ...             ...
150477          0                  19.0       251204075
150478          0                  43.0       241344414
150479          0                  43.0       180705626
150480          0                   1.0       240473950
150481          0                  40.0       207667589

                       Vehicle Location  \
0          POINT (-122.34301 47.659185)
1          POINT (-122.20578 47.762405)
2       POINT (-120.6027202 46.5965625)
3          POINT (-122.209285 47.71124)
4          POINT (-122.89692 47.043535)
...                                 ...
150477     POINT (-123.60535 46.982215)
150478      POINT (-122.329075 47.6018)
150479     POINT (-122.34848 47.632405)
150480      POINT (-122.30842 47.78416)
150481     POINT (-122.338975 48.41333)

                                         Electric Utility  2020 Census Tract
0            CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA)       5.303300e+10
1           PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA)       5.303302e+10
2                                              PACIFICORP       5.307700e+10
3           PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA)       5.303302e+10
4                                  PUGET SOUND ENERGY INC       5.306701e+10
...                                                   ...                ...
150477  BONNEVILLE POWER ADMINISTRATION||PUD NO 1 OF G...       5.302700e+10
150478       CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA)       5.303301e+10
150479       CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA)       5.303301e+10
150480                             PUGET SOUND ENERGY INC       5.306105e+10
150481                             PUGET SOUND ENERGY INC       5.305795e+10

[150482 rows x 17 columns]>

In [5]:

population_evs.shape

(150482, 17)

In [6]:
charging_stations = pd.read_csv("EV_Charging_Stations_Jan312023 (2).csv")

In [7]:
charging_stations.shape

(54238, 13)

In [8]:
charging_stations.info

<bound method DataFrame.info of                                Station Name             Street Address  \
0                                       K2              14052 E 2nd St
1                         Denali Brewing Co    37083 Talkeetna Spur Rd
2                        Alaskan Brewing Co       5364 Commercial Blvd
3                      Chevrolet of Wasilla           3700 E Parks Hwy
4            University of Alaska Southeast        11066 Auke Lake Way
...                                     ...                        ...
54233  Kroger-City Market 412 (Rawlins, WY)          602 N Higley Blvd
54234                        BATTERY PARK 1               36 W 3rd Ave
54235                        BATTERY PARK 2               36 W 3rd Ave
54236           Fremont Motor Sheridan Ford        1658 Coffeen Avenue
54237       TOWN OF JACKSON PARK & REC MAIN  400 West Snow King Avenue

            City State    ZIP  EV Level1 EVSE Num  EV Level2 EVSE Num  \
0      Talkeetna    AK  99676                 NaN                 1.0
1      Talkeetna    AK  99676                 NaN                 NaN
2         Juneau    AK  99801                 NaN                 NaN
3        Wasilla    AK  99654                 NaN                 2.0
4         Juneau    AK  99801                 NaN                 2.0
...          ...   ...    ...                 ...                 ...
54233    Rawlins    WY  82301                 NaN                 NaN
54234      Afton    WY  83110                 NaN                 NaN
54235      Afton    WY  83110                 NaN                 NaN
54236   Sheridan    WY  82801                 NaN                 1.0
54237    Jackson    WY  83001                 NaN                 2.0

       EV DC Fast Count           EV Network  EV Connector Types Access Code  \
0                   NaN        Non-Networked               TESLA      Public
1                   1.0        Non-Networked             CHADEMO      Public
2                   1.0        Non-Networked             CHADEMO      Public
3                   1.0        Non-Networked    J1772 J1772COMBO      Public
4                   NaN        Non-Networked               J1772      Public
...                 ...                  ...                 ...         ...
54233               4.0    Electrify America  CHADEMO J1772COMBO      Public
54234               1.0  ChargePoint Network  CHADEMO J1772COMBO      Public
54235               1.0  ChargePoint Network  CHADEMO J1772COMBO      Public
54236               NaN        Blink Network               J1772      Public
54237               NaN  ChargePoint Network               J1772      Public

       Access Detail Code                  Facility Type
0                     NaN                        Airport
1      CREDIT_CARD_ALWAYS  Brewerly, Distillery, Winnery
2      CREDIT_CARD_ALWAYS  Brewerly, Distillery, Winnery
3                     NaN                     Car Dealer
4                     NaN                 College Campus
...                   ...                            ...
54233                 NaN                            NaN
54234                 NaN                            NaN
54235                 NaN                            NaN
54236                 NaN                            NaN
54237                 NaN                            NaN

[54238 rows x 13 columns]>

In [9]:



# let's check the colums name

In [10]:
population_evs.head()

,VIN (1-10),County,City,State,Postal Code,Model Year,Make,Model,Electric Vehicle Type,Clean Alternative Fuel Vehicle (CAFV) Eligibility,Electric Range,Base MSRP,Legislative District,DOL Vehicle ID,Vehicle Location,Electric Utility,2020 Census Tract
0,KM8K33AGXL,King,Seattle,WA,98103.0,2020,HYUNDAI,KONA,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,258,0,43.0,249675142,POINT (-122.34301 47.659185),CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303300e+10
1,1C4RJYB61N,King,Bothell,WA,98011.0,2022,JEEP,GRAND CHEROKEE,Plug-in Hybrid Electric Vehicle (PHEV),Not eligible due to low battery range,25,0,1.0,233928502,POINT (-122.20578 47.762405),PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),5.303302e+10
2,1C4RJYD61P,Yakima,Yakima,WA,98908.0,2023,JEEP,GRAND CHEROKEE,Plug-in Hybrid Electric Vehicle (PHEV),Not eligible due to low battery range,25,0,14.0,229675939,POINT (-120.6027202 46.5965625),PACIFICORP,5.307700e+10
3,5YJ3E1EA7J,King,Kirkland,WA,98034.0,2018,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,215,0,45.0,104714466,POINT (-122.209285 47.71124),PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),5.303302e+10
4,WBY7Z8C5XJ,Thurston,Olympia,WA,98501.0,2018,BMW,I3,Plug-in Hybrid Electric Vehicle (PHEV),Clean Alternative Fuel Vehicle Eligible,97,0,22.0,185498386,POINT (-122.89692 47.043535),PUGET SOUND ENERGY INC,5.306701e+10

In [11]:
washington_charging_stations = charging_stations[charging_stations['State'] == 'WA']

In [12]:
washington_charging_stations

,Station Name,Street Address,City,State,ZIP,EV Level1 EVSE Num,EV Level2 EVSE Num,EV DC Fast Count,EV Network,EV Connector Types,Access Code,Access Detail Code,Facility Type
51751,Seattle-Tacoma International Airport - General...,17801 Pacific Hwy S,Seattle,WA,98188,36.0,NaN,NaN,Non-Networked,NEMA520,Public,NaN,Airport
51752,Seattle-Tacoma International Airport - Termina...,17801 Pacific Hwy S,Seattle,WA,98188,12.0,NaN,NaN,Non-Networked,NEMA520,Public,NaN,Airport
51753,Friday Harbor Airport,800 Franklin Rd,Friday Harbor,WA,98250,NaN,2.0,NaN,Non-Networked,J1772,Public,NaN,Airport
51754,Bellingham International Airport,4255 Mitchell Way,Bellingham,WA,98226,NaN,4.0,NaN,Non-Networked,J1772,Public,CREDIT_CARD_ALWAYS,Airport
51755,Colette's Bed and Breakfast - Tesla Destination,339 Finn Hall Rd,Port Angeles,WA,98362,NaN,1.0,NaN,Tesla Destination,TESLA,Public,NaN,B&B
...,...,...,...,...,...,...,...,...,...,...,...,...,...
53530,SUL-EV SUL-EV1,15015 E Indiana Ave,Spokane Valley,WA,99216,NaN,2.0,NaN,ChargePoint Network,J1772,Public,NaN,NaN
53531,BEL-EV BEL-EV 1,4051 Meridian St,Bellingham,WA,98226,NaN,2.0,NaN,ChargePoint Network,J1772,Public,NaN,NaN
53532,Broadway Apartments - 2nd Floor,3214 Broadway,Everett,WA,98201,NaN,1.0,NaN,Blink Network,J1772,Private,NaN,NaN
53533,GARAGE WEST MAGNOLIA,104 W Magnolia St,Bellingham,WA,98225,NaN,2.0,NaN,ChargePoint Network,J1772,Public,NaN,NaN
53534,GARAGE SHUKSAN MEADOWS,Maplewood Ave at Cottonwood Ave,Bellingham,WA,98225,NaN,2.0,NaN,ChargePoint Network,J1772,Public,NaN,NaN

In [13]:
 charging_stations.head()

,Station Name,Street Address,City,State,ZIP,EV Level1 EVSE Num,EV Level2 EVSE Num,EV DC Fast Count,EV Network,EV Connector Types,Access Code,Access Detail Code,Facility Type
0,K2,14052 E 2nd St,Talkeetna,AK,99676,NaN,1.0,NaN,Non-Networked,TESLA,Public,NaN,Airport
1,Denali Brewing Co,37083 Talkeetna Spur Rd,Talkeetna,AK,99676,NaN,NaN,1.0,Non-Networked,CHADEMO,Public,CREDIT_CARD_ALWAYS,"Brewerly, Distillery, Winnery"
2,Alaskan Brewing Co,5364 Commercial Blvd,Juneau,AK,99801,NaN,NaN,1.0,Non-Networked,CHADEMO,Public,CREDIT_CARD_ALWAYS,"Brewerly, Distillery, Winnery"
3,Chevrolet of Wasilla,3700 E Parks Hwy,Wasilla,AK,99654,NaN,2.0,1.0,Non-Networked,J1772 J1772COMBO,Public,NaN,Car Dealer
4,University of Alaska Southeast,11066 Auke Lake Way,Juneau,AK,99801,NaN,2.0,NaN,Non-Networked,J1772,Public,NaN,College Campus

### Part 2 -Data Cleaning

In [14]:
# let's check for duplicated colums

In [15]:
population_evs.duplicated().sum()

0

In [16]:
charging_stations.duplicated().sum()
# I have 147 duplicated values , i goona check if they have a unique values to see if they are duplicated or consider that they are multiples charge stations in the same location

147

In [17]:
total_rows = charging_stations.shape[0]
print(total_rows)

54238

In [18]:
unique_values_per_column = charging_stations.nunique()
print(unique_values_per_column)

Station Name          51463
Street Address        37820
City                   5894
State                    54
ZIP                   10251
EV Level1 EVSE Num       37
EV Level2 EVSE Num       68
EV DC Fast Count         36
EV Network               32
EV Connector Types       25
Access Code               2
Access Detail Code        9
Facility Type            63
dtype: int64


 


After researching the duplicate values and cross-referencing with Google Maps, it appears that the duplicates are due to having 2 or 3 charging stations grouped at 
the same address, but the address itself is not listed multiple times
in those instances. Therefore, I will remove these duplicates to ensure no repeated values in the dataset

In [19]:
#drop the duplicated values
charging_stations = charging_stations.drop_duplicates()

In [20]:
#sanity check
charging_stations.duplicated().sum()

0

### Part 3 EDA


 

 I'm planning to create a new "Street Address" column in my population_evs DataFrame. This is to match the similar column in the charging_stations DataFrame, facilitating direct comparisons.


I'll first install geopy for reverse geocoding.
Then, I'll use the 'Vehicle Location' data to extract street addresses.
These addresses will be added to a new "Street Address" column in population_evs.
Purpose: This will help me in analyzing and comparing the two datasets more effectively.

In [21]:
!pip install geopy

Requirement already satisfied: geopy in c:\users\eloyn\anaconda3\lib\site-packages (2.4.0)
Requirement already satisfied: geographiclib<3,>=1.52 in c:\users\eloyn\anaconda3\lib\site-packages (from geopy) (2.0)

In [22]:
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter
import pandas as pd

In [23]:
#I extracted longitude and latitude from the 'Vehicle Location' column
population_evs[['Longitude', 'Latitude']] = population_evs['Vehicle Location'].str.extract(r'POINT \((-?\d+\.?\d*) (-?\d+\.?\d*)\)')

In [24]:
# I converted 'Longitude' and 'Latitude' columns to float
population_evs['Longitude'] = population_evs['Longitude'].astype(float)
population_evs['Latitude'] = population_evs['Latitude'].astype(float)

In [25]:
# i follow the example that i found to get this column , i just added the name of my capstone where is user agent
geolocator = Nominatim(user_agent="Electric Vehicles (EVs)")
reverse = RateLimiter(geolocator.reverse, min_delay_seconds=1)

In [26]:
# Function to apply reverse geocoding
def get_address(row):
    try:
        location = reverse((row['Latitude'], row['Longitude']))
        return location.address
    except Exception as e:
        return None

In [28]:
# sample test
sample = population_evs.head(10)  
sample['Street Address'] = sample.apply(get_address, axis=1)

sample[['Vehicle Location', 'Street Address']]

C:\Users\eloyn\AppData\Local\Temp\ipykernel_32256\4051794176.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample['Street Address'] = sample.apply(get_address, axis=1)

,Vehicle Location,Street Address
0,POINT (-122.34301 47.659185),"1215, North 43rd Street, Wallingford, Seattle,..."
1,POINT (-122.20578 47.762405),"18520, 101st Avenue Northeast, Wayne, Bothell,..."
2,POINT (-120.6027202 46.5965625),"7002, West Chestnut Avenue, West Valley, Yakim..."
3,POINT (-122.209285 47.71124),"9903, Northeast 124th Street, Juanita, Kirklan..."
4,POINT (-122.89692 47.043535),"422, Legion Way Southeast, Olympia, Thurston C..."
5,POINT (-122.1713847 48.10433),"4332, 121st Street Northeast, Kruse, Kruse Jun..."
6,POINT (-122.111625 47.36078),"26830, 172nd Place Southeast, Covington, King ..."
7,POINT (-122.151665 47.75855),"14055, Northeast 181st Street, Le Chardonnay, ..."
8,POINT (-122.6880708 48.2179983),"Northwest 6th Street, Coupeville, Washington, ..."
9,POINT (-122.201905 47.61385),"Northeast 4th Street, Bellevue, King County, W..."

In [ ]:
###TAKE LONG TIME TO ADD THIS COLUMN
population_evs['Street Address'] = population_evs.apply(get_address, axis=1)

In [ ]:
charging_stations.head()


 

Current Progress and Next Steps in Analysis:

Column Retention:

I have not yet dropped any columns from the datasets, opting to retain all data for now. This approach allows flexibility in case additional columns become relevant as the analysis progresses.
Creation of 'Street Address' Column:

A 'Street Address' column has been successfully added to both datasets. This facilitates the comparison of vehicle locations with charging station addresses.
Upcoming Analysis:

The immediate focus is on calculating the distance between each vehicle's location and the nearest charging station. This will provide insights into the accessibility of charging stations from different points.
I plan to analyze and possibly predict how far a car can travel based on the proximity of charging stations and the average kilometers per charge for specific EV models.
Objective of Analysis:

The ultimate goal is to assess the convenience of owning an EV in various areas of Washington. By correlating EV locations with charging station accessibility and vehicle range, I aim to provide valuable insights into the practicality of EV ownership in different zones across the state.